
@import "compass/reset";

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
	page-break-after:always;

  }
}
    
    .page  {
        width: 8.5in;
        margin:0;
        padding: .50in 0 0 .30in;
  font-family: "arial";
        text-align: center;
	page-break-after:always;
        }

        .f_right {
        	font-size:.7em;
        }
        .title span {
        	font-weight:700;
        	color:tomato;
        }

    .label{
         -moz-box-sizing: border-box; 
         -webkit-box-sizing: border-box; 
         box-sizing: border-box;
        width: 2.625in; 
        height: 1in; 
        padding: .025in .3in 0;
        margin-right: .155in;  
        margin-top: .025in;  

        float: left;

        text-align: center;
        overflow: hidden;

        outline: 1px dotted #ccc; /* outline doesn't occupy space like border does */
        }