
@import "compass/reset";

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
	page-break-after:always;

  }
}

body {
	margin:0;
	padding:0;
}

    
    .page  {
        width: 8.5in;
        margin:0;
        padding: .30in 0 .22in 0;
  font-family: "arial";
        text-align: center;
	page-break-after:always;
        }


        h1 {
  font-family: "arial";
        	text-align: center;
        	margin:0;
        	padding:0;
        	font-size:.8em;
  font-weight: 300;
        }
        .f_left, .f_right{
        	display:inline-block;
        }
        .f_left {
        	width:50px;
        	height:50px;
        }
        .f_right {
        	font-size:.7em;
        }
        .title span {
        	font-weight:700;
        	color:tomato;
        }
    .label{
        /* Avery 8160 labels -- CSS and HTML by MM at Boulder Information Services */
        width: 2.025in; /* plus .6 inches from padding */
        height: .875in; /* plus .125 inches from padding */
        padding: .125in .3in 0;
        margin-right: .125in;  

        float: left;

        text-align: center;
        overflow: hidden;

        outline: 1px dotted #eee; /* outline doesn't occupy space like border does */
        }